## 2-> Feature Engineering

In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

datasets = pd.read_csv("train.csv")
datasets.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [111]:
#categorical data ...nan values
features_nan_cat=[feature for feature in datasets.columns if datasets[feature].isnull().sum()>1 and datasets[feature].dtypes=='O']
datasets[features_nan_cat]=datasets[features_nan_cat].fillna('Missing')

In [112]:
datasets.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,12,2008,WD,Normal,250000

In [113]:
features_nan_num=[feature for feature in datasets.columns if datasets[feature].isnull().sum()>1 and datasets[feature].dtypes!='O']
for feature in features_nan_num:
    median_value=datasets[feature].median()
    datasets[feature+'nan']=np.where(datasets[feature].isnull(),1,0)
    datasets[feature].fillna(median_value,inplace=True)

In [114]:
datasets.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,Missing,0,2,2008,WD,Normal,208500,0,0,0
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,Missing,0,5,2007,WD,Normal,181500,0,0,0
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,9,2008,WD,Normal,223500,0,0,0
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,2,2006,WD,Abnorml,140000,0,0,0
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,12,2008,WD,Normal,250000,0,0,0

In [115]:
datasets[features_nan_num].isnull().sum()    #to verify

LotFrontage    0
MasVnrArea     0
GarageYrBlt    0
dtype: int64

In [116]:
## Temporal Variables (Date Time Variables)
features_yr = [feature for feature in datasets.columns if 'Yr' in feature or 'Year' in feature]
features_yr

['YearBuilt', 'YearRemodAdd', 'GarageYrBlt', 'YrSold', 'GarageYrBltnan']

In [117]:
features_yr = [feature for feature in features_yr if 'nan' not in feature]
features_yr.remove('YrSold') 
features_yr

['YearBuilt', 'YearRemodAdd', 'GarageYrBlt']

In [118]:
for feature in features_yr:
   datasets[feature]=datasets['YrSold']-datasets[feature]
datasets.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,Missing,0,2,2008,WD,Normal,208500,0,0,0
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,Missing,0,5,2007,WD,Normal,181500,0,0,0
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,9,2008,WD,Normal,223500,0,0,0
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,2,2006,WD,Abnorml,140000,0,0,0
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,12,2008,WD,Normal,250000,0,0,0

In [119]:
datasets[features_yr]

      YearBuilt  YearRemodAdd  GarageYrBlt
0             5             5          5.0
1            31            31         31.0
2             7             6          7.0
3            91            36          8.0
4             8             8          8.0
...         ...           ...          ...
1455          8             7          8.0
1456         32            22         32.0
1457         69             4         69.0
1458         60            14         60.0
1459         43            43         43.0

[1460 rows x 3 columns]

In [120]:
features_num = [feature for feature in datasets.columns if datasets[feature].dtypes !='O']
features_dis=[feature for feature in features_num if len(datasets[feature].unique())<25 and feature not in features_yr+['Id']]
features_con = [feature for feature in features_num if feature not in features_yr + ['Id']+ features_dis]
features_con

['LotFrontage',
 'LotArea',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'GrLivArea',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 'ScreenPorch',
 'SalePrice']

In [121]:
datasets['1stFlrSF'].skew()

1.3767566220336365

In [122]:
#if categorical variables less than 1%...remove
features_cat=[feature for feature in datasets.columns if datasets[feature].dtype=='O']
for feature in features_cat:
    data=datasets.groupby(feature)['SalePrice'].count()/len(datasets)
    data_df=data[data>0.01].index
    datasets[feature]=np.where(datasets[feature].isin(data_df),datasets[feature],'Rare_var')

In [123]:
for feature in features_cat:
    labels_ordered=datasets.groupby([feature])['SalePrice'].mean().sort_values().index
    labels_ordered={k:i for i,k in enumerate(labels_ordered,0)}
    datasets[feature]=datasets[feature].map(labels_ordered)

In [124]:
datasets.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1,60,3,65.0,8450,1,2,0,1,1,...,2,0,2,2008,2,3,208500,0,0,0
1,2,20,3,80.0,9600,1,2,0,1,1,...,2,0,5,2007,2,3,181500,0,0,0
2,3,60,3,68.0,11250,1,2,1,1,1,...,2,0,9,2008,2,3,223500,0,0,0
3,4,70,3,60.0,9550,1,2,1,1,1,...,2,0,2,2006,2,0,140000,0,0,0
4,5,60,3,84.0,14260,1,2,1,1,1,...,2,0,12,2008,2,3,250000,0,0,0

## Feature Scaling

In [125]:
feature_scale = [feature for feature in datasets.columns if feature not in ['Id','SalePrice']]
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
scaler.fit(datasets[feature_scale])

MinMaxScaler()

In [126]:
scaler.transform(datasets[feature_scale])

array([[0.23529412, 0.75      , 0.15068493, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.75      , 0.20205479, ..., 0.        , 0.        ,
        0.        ],
       [0.23529412, 0.75      , 0.1609589 , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.29411765, 0.75      , 0.15410959, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.75      , 0.1609589 , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.75      , 0.18493151, ..., 0.        , 0.        ,
        0.        ]])

In [127]:
train_set = pd.concat([datasets[['Id','SalePrice']].reset_index(drop=True),
           pd.DataFrame(scaler.transform(datasets[feature_scale]),columns=feature_scale)],axis=1)

In [128]:
train_set

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1,208500,0.235294,0.75,0.150685,0.033420,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.090909,0.50,0.666667,0.75,0.0,0.0,0.0
1,2,181500,0.000000,0.75,0.202055,0.038795,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.363636,0.25,0.666667,0.75,0.0,0.0,0.0
2,3,223500,0.235294,0.75,0.160959,0.046507,1.0,1.0,0.333333,0.333333,...,1.00,1.0,0.00000,0.727273,0.50,0.666667,0.75,0.0,0.0,0.0
3,4,140000,0.294118,0.75,0.133562,0.038561,1.0,1.0,0.333333,0.333333,...,1.00,1.0,0.00000,0.090909,0.00,0.666667,0.00,0.0,0.0,0.0
4,5,250000,0.235294,0.75,0.215753,0.060576,1.0,1.0,0.333333,0.333333,...,1.00,1.0,0.00000,1.000000,0.50,0.666667,0.75,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,175000,0.235294,0.75,0.140411,0.030929,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.636364,0.25,0.666667,0.75,0.0,0.0,0.0
1456,1457,210000,0.000000,0.75,0.219178,0.055505,1.0,1.0,0.000000,0.333333,...,0.50,1.0,0.00000,0.090909,1.00,0.666667,0.75,0.0,0.0,0.0
1457,1458,266500,0.294118,0.75,0.154110,0.036187,1.0,1.0,0.000000,0.333333,...,0.75,0.0,0.16129,0.363636,1.00,0.666667,0.75,0.0,0.0,0.0
1458,1459,142125,0.000000,0.75,0.160959,0.039342,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.272727,1.00,0.666667,0.75,0.0,0.0,0.0
1459,1460,147500,0.000000,0.75,0.184932,0.040370,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.454545,0.50,0.666667,0.75,0.0,0.0,0.0

In [129]:
train_set.to_csv('X_train.csv',index=False)